//      Variables       \\
$neon-green: #74ee15;
$neon-purple: #f000ff;
$neon-cyan: #4deeea;
$neon-blue: #001eff;
$neon-orange: #fd5f00;

$radius: 15px;
$border-width: 3px;


//      Mixin       \\
@mixin aspect-ratio($width, $height) {
    overflow: hidden;
    height: 0;
    padding-top: ($width / $height) * 100%;
}


//      Font        \\
@font-face {
    font-family: 'neon';
    src: url('./fonts/neon_glow/NEON GLOW.otf');
}


//    Format   \\
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


//      Body        \\
.page {
    margin-top: 5em;
    background: black;
    color: white;
}

.page > * {
    margin-bottom: 2em;
}

.container {
    padding: 20px;
    max-width: 95vw;
    margin: auto;
}

h1 {
    text-align: center;
    color: $neon-green;
    font-weight: 500;
    font-family: 'neon';
    font-size: 2.5em;
}

h2 {
    text-decoration: underline;
    color: $neon-cyan;
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
    font-family: 'neon';
}

h3 {
    color: $neon-purple;
    margin: 0.5em 0;
    font-size: 1.5em;
    font-family: 'neon';
    font-weight: 800;
}


//      Header      \\
header nav {
    background: black;
    border: $border-width solid $neon-blue;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.nav-item a {
    font-size: 1.5em;
    font-weight: 800;
    font-family: 'neon';
    color: $neon-green;
}

header li {
    margin: 0.8em;
}

.logo {
    display: none;
}


//      About       \\
.about {
    height: 500px;
    color: white;
    padding: 20px 10px;
    position: relative;

    background: url('https://besthqwallpapers.com/Uploads/8-4-2019/86567/thumb2-liteshow-close-up-fortnite-battle-royale-ninja-2019-games.jpg');
    background: url('https://miro.medium.com/max/4000/1*mWWz_fABgRc-W2s4VHF6PQ.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @include aspect-ratio(560, 933);

    .aboutText {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 77vw;
        height: 80%;
        margin: auto;
        font-size: 1.2em;

        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
    }
    
    .aboutText big {
        font-size: 2em;
    }
}    


//      Portfolio       \\
.portfolio {
    display: flex;
    flex-direction: column;
}

.tech-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.technologies {
    border: $border-width solid $neon-purple;
    border-radius: $radius;

    margin-bottom: 5em;

    h3 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    li {
        margin: 0 1em;
        line-height: 2em;
    }

    .techs {
        margin: 2em 0;
    }
    
    .techs ul{
        display: flex;
    }
}

.projectTiles {
    text-align: center;
    border: $border-width solid $neon-purple;
    border-radius: $radius;
}

.projectGroup {
    border: 2px solid $neon-blue;
    border-radius: $radius;
    margin-bottom: 2em;
}

.projectGroup ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projectTile {
    margin-bottom: 1em;
    border: 1px dotted grey;
    height: 200px;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-weight: 500;
    color: $neon-green;
    border-radius: 8px;

    li, a, h4 {
        font-weight: 500;
        width: max-content;
        background: rgba(0, 0, 0, 0.568);
        padding: 5px;
        border-radius: 10px;
        border: 1px solid $neon-green;
    }

    h4 {
        margin: 0 auto;
        font-size: 1.3em;
    }
}

.viewURLs {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
}


//      Contact     \\
.form {
    margin: auto;
    width: 30em;
    border: $border-width solid $neon-cyan;
    border-radius: $radius;
    min-height: 300px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.contact {
    margin-bottom: 0;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25em;
}

input, textarea {
    margin: 5px 0 15px;
    padding: 8px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid $neon-cyan;
    background: #92bbbaa4;
    color: white;
}

textarea {
    height: 5em;
}

label {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
}

button {
    padding: 1em;
    background: #1aa85a;
    color: white;
    border: 1px solid $neon-cyan;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

button:hover {
    background: #168b4b;
}

//      Footer      \\
footer {
    color: white;
    background: black;
    padding-bottom: 1em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid $neon-purple;
}


//         Media Queries        \\
@media (min-width: 480px) {
    .logo {
        display: block;
        padding-left: 0.5em;
    }

    .nav-links {
        justify-content: flex-end;
    }
}

@media (min-width: 680px) {
    .projectTile {
        flex-basis: 45%;
    }

    .projectTile {
        margin: 0.5em 0.5em;
    }
}

@media (min-width: 1024px) {
    .tech-projects-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .projectTiles {
        flex: 1;
    }

    .projectTile {
        flex-basis: 30%;
    }

    .technologies ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1400px) {
    .projectTile {
        flex-basis: 20%;
    }
}